// This file is part of help.eyeo.com.
// Copyright (C) 2017 Eyeo GmbH
//
// help.eyeo.com is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// help.eyeo.com is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with help.eyeo.com.  If not, see <http://www.gnu.org/licenses/>.

/*******************************************************************************
 * Utilities
 ******************************************************************************/

/* Responsive
 ******************************************************************************/

.mobile-only
{
  @media (min-width: $phablet-breakpoint)
  {
    display: none;
  }
}

.phablet-and-mobile-only
{
  @media (min-width: $tablet-breakpoint)
  {
    display: none;
  }
}

.tablet-and-desktop-only
{
  @media (max-width: $tablet-breakpoint - 1px)
  {
    display: none;
  }
}

.desktop-only
{
  @media (max-width: $desktop-breakpoint - 1px)
  {
    display: none;
  }
}

/* Font colours
 ******************************************************************************/

.muted
{
  color: $gray-medium;
}

a.muted,
.muted a
{
  color: $gray-medium !important;
  text-decoration: underline;
}

a.muted:hover,
.muted a:hover,
a.muted:active,
.muted a:active,
a.muted:focus,
.muted a:focus
{
  color: #fff !important;
}

/* Underlined
 ******************************************************************************/

.underlined
{
  border-bottom: 1px dotted $gray;
}
